body[data-last-visited-rootcatid="55"] {
  font-family: 'CorporateARegular', Georgia, "Times New Roman", Times, serif;
  font-size: 17.6000003814697px;
  line-height: 1.618em;
  color: #333;
  margin: 0;
  padding: 0;

  .container {
    width: 100%;
    max-width: 960px;
  }

  #product_data {
    /*float: right;*/
    /*  display: -webkit-inline-box;*/
    > div {
      text-align: right;
      margin-right: 3px;
    }
    .field_label {
      font-weight: bold;
    }
  }
  //.small_cart .glyphicon-remove {
  //  top: -2px;
  //}
  #cart_products .glyphicon-remove:before {
    content: "\e020";
  }
  #order_delivery.text-muted {
    color: black !important;
  }

  .pagination {
    a {
      color: $red;
    }
    :visited {
      color: rgb(68, 68, 68);

    }
  }
  .pagination > .active > a {
    color: white;
    background-color: $red;
    border-color: $red;
  }

  #products_grid > div:nth-child(2n+1) {
    background-color: #f9f9f9;
  }

  #wsd_checkout_page_right_column .text-muted > a {
    float: left;
  }

  //.small_cart .oe_website_spinner {
  //  float: left;
  //
  //  width: auto !important;
  //  padding: initial !important;
  //
  //}
  //.small_cart .text-muted > span {
  //  color: black;
  //  float: left;
  //  margin-right: 2px;
  //}

  @media (max-width: 400px) {
    // workaround only needed if IFRAME ist used //
    .oe_product.oe_list .oe_product_image img {
      max-height: 160px !important;
    }
    .oe_product .oe_product_image img {
      max-height: 160px !important;
      position: initial;
    }
    .oe_product .oe_product_image {
      position: initial;
    }

    #products_grid .oe_product section {
      position: initial;
      padding-top: 175px;
      width: 100%;
      background: transparent;
      padding: 0 !important;
      }
 /*
    #products_grid {
      .oe_product.oe_list {
        width: 400px;
      }
    }
 */
  }

  @media (max-width: 500px) {
    .oe_cart table td:nth-child(2) {
      border-top-style: none;
    }
    .oe_cart table td:first-child {
      display: block;
    }
    .oe_cart.small_cart a[name="product_name"] {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      margin-right: 0.5em;
      display: block;
    }

//    #modal_optional_products table td {
//      &:last-child {
//
//        &:nth-child(2) {
//          border-top-width: thin;
//        }
//      }
//    }
//    #cart_products > tbody > tr > td.text-left {
//      display: block;
//    }
//    .oe_cart table tbody {
//      float: left;
//      display: inline-block;
//      > td {
//
//        > tr {
//          float: initial;
//          display: run-in;
//        }
//      }
//    }
//    .small_cart table {
//      width: 100%;
//      max-width: 100%;
//
//    }
//    .wsd_payment_page_content {
//      #cart_products {
//        td {
//          min-height: 75px;
//          height: auto;
//        }
//      }
//      .small_cart .text-muted > span {
//        float: left;
//      }
//      .text-muted > a {
//        float: left;
//      }
//      .text-right {
//        text-align: right !important;
//      }
//    }
//    .wsd_checkout_page_content {
//      #cart_products {
//        td {
//          min-height: 75px;
//          height: auto;
//        }
//      }
//      .small_cart .text-muted > span {
//        float: left;
//      }
//      .text-muted > a {
//        float: left;
//      }
//      .text-right {
//        text-align: right !important;
//      }
//    }
  //  // GLOBAL IN MEDIA SELECTOR MAX MEDIA 500px //
//  #cart_products {
//    td {
//      min-height: 75px;
//      height: auto;
//    }
//  }
}


  @media (min-width: 959px) {
    .col-md-3 {
      width: 25%;
      float: left;
    }

    .wsd_checkout_page_content {
      #wsd_checkout_page_right_column {
        width: 25%;
        float: right;
      }
      #wsd_checkout_page_left_column {
        width: 75%;
        float: left;
      }
    }
    @media (min-width: 992px) {
      #wsd_checkout_page_right_column.col-md-push-8 {
        left: auto;
      }
      #wsd_checkout_page_right_column.col-md-offset-1 {
        margin-left: 0;
      }
      #wsd_checkout_page_left_column.col-md-pull-4 {
        right: auto;
      }
    }
  }

  @media (min-width: 959px) {
    .col-md-9 {
      width: 75% !important;
      float: left !important;
    }
  }

  .fa-shopping-cart:before {
    /*content: "\f16b";*/
    content: "\f07a";

  }

  .btn-primary {
    color: white;
    background-color: $red;
    border-color: black;
  }

  #wsd-checkout-box {
    font-size: 14px;

  }
  #wsd-checkout-box,
  #wsd-checkout-box a,
  #wsd-checkout-box h1,
  #wsd-checkout-box h2,
  #wsd-checkout-box h3,
  #wsd-checkout-box h4,
  #wsd-checkout-box h5,
  #wsd-checkout-box p {
    font-family: Arial, Helvetica, sans-serif;
  }
  #wsd-checkout-box h1 {
    font-size: 1.5em;
  }

  //.oe_product.oe_grid {
  //    border: 1px solid rgb(41, 38, 38);
  //}
  .oe_product.oe_grid:hover {
    border: 1px solid rgb(41, 38, 38);
    box-shadow: 2px 2px 12px rgb(160, 160, 160);
  }
  .oe_product section {
    //bottom: 78px;
    height: 165px;
  }

  @media screen and (max-width: 768px) {
    .oe_product {
      section {
        height: auto;
      }
    }

    #products_grid {
      .oe_product.oe_list {
        height: auto;
      }
    }
  }
  // SHOP CATEGORIES NAVIGATION
  ul.cat_menu li > ul > li {
    font-size: 14.3999996185303px;
    line-height: 1em;
    a {
      color: $red;
      font-size: 14.3999996185303px;
      padding: 0;
      padding-bottom: 6px;
    }
    ul.nav-hierarchy {
      padding-left: 0;
    }
  }

  ul.cat_menu > li > ul > li {
    margin-bottom: 2em;

  }
  // Alle Artikel
  /*
  ul.cat_menu > li > ul > li.cat2 {
    margin-bottom: 1em;
    a {
      border: none;
      color: $red;
      font-size: 18.7199993133545px;
      text-transform: none;
    }
    a:before {
      display: inline-block;
      content: "\00a0\f004\00a0";
      font-family: FontAwesome !important;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }
*/

  #products_grid_before .nav-pills > li.cat0.active > a,
  #products_grid_before .nav-pills > li.cat0.active > a:hover,
  #products_grid_before .nav-pills > li.cat0.active > a:focus {
    color: $red;
    background-color: inherit;
    font-weight: 300;
  }

  // level 1
  ul.cat_menu > li > ul > li {
    > a {
      color: #413839;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 300;
      border-bottom: solid 1px #000;
      border-radius: 0;
      padding-left: 0;
      padding-bottom: 0.5em;
      margin: 0 0 1em 0;
    }
    > a:before {
      display: inline-block;
//      content: "\f05a";
      font-family: FontAwesome !important;
      /*font: normal normal normal 18px/1 FontAwesome;*/
      font-size: 1.8em;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }

  .oe_product section h5 {
    //display: inline;
    //display: initial;
    //float: left;
    margin: 8.5px 0;
    width: 100%;
    //height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    strong {
      font-size: 100%;
      a {
        font-weight: 400 !important;
        color: $red;
      }
    }
  }
  .oe_product h5 strong,
  .product_price b {
    font-weight: normal;
  }

  .product_price b {
    float: right;
  }
  #products_grid .product_price {
    //display: none;
    position: absolute;
    bottom: 0;
    width: calc(100% - 25px);
  }

  .oe_product .text-info.oe_subdescription {
    /*display: none;*/
    color: black;
    line-height: 1.2;
  }

  #product_detail {
    .text-info {
      color: black;
      margin-bottom: 20px;
    }
  }

  .oe_list .text-info.oe_subdescription {
    display: block;
    font: 12px/1.518em Arial, Helvetica, sans-serif;
    color: black;
    min-height: 120px;
    padding-left: 5px;
  }
  .oe_list.oe_product section {
    height: auto;
  }

  #website_sale_donate .oe_price_h4 > b {
    margin-right: auto;
    float: none;
  }

  .input-group-lg .input-group-addon {
    font-size: 14px !important;
    height: 35px;
    padding: 0;
    padding-right: 3px;
    padding-left: 3px;

  }
  .input-group-lg > .form-control {
    height: 35px;
    padding: 0;
  }
  // PRODUCT LISTINGS:
  //all nav-pills navigations
  #products_grid_before {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.3999996185303px;
  }
  #products_grid_before .nav-pills > li.active > a,
  #products_grid_before .nav-pills > li.active > a:hover,
  #products_grid_before .nav-pills > li.active > a:focus {
    color: inherit;
    background-color: inherit;
    font-weight: bold;
  }
  // small_cart on left side
  #products_grid_before #cart_products thead {
    display: none;
  }

  // SMALL CART
  //#products_grid_before .small_cart a {
  //  font-size: 12px;
  //}
  //
  //.small_cart a {
  //  color: black;
  //}
  //.small_cart a strong {
  //  font-weight: normal;
  //}

  // BREADCRUMB
  .breadcrumb {
    font-size: 14px;
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: inherit;
    border-radius: 0px;
  }

  .breadcrumb {
    a {
      color: $red;
    }
    :visited {
      color: rgb(68, 68, 68);

    }
  }
  .breadcrumb > .active > a {
    color: white;
    background-color: $red;
    border-color: $red;
  }

  // CHECKOUT PAGE
  #wsd-checkout-box > div > div.panel-body.text-center > form > div > ul > li > ul > li > label {
    margin-left: 35% !important;
    display: flex !Important;
    font-weight: normal;
  }
  input[type="radio"]:checked {
    color: $red !important;
  }
  #wsd_checkout label {
    height: 32px;
  }
  .oe_website_sale {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0.7em;
    }
  }

  #products_grid table {
    border-spacing: 20px 20px;
  }

  .oe_product .oe_product_image img {
    /*height: auto !important;*/
    height: 130px;
    width: auto;
    bottom: inherit;
    max-height: none;
    max-width: none;
    //min-width: 345px;
    margin-top: 10px;
  }

  .oe_product .oe_product_image img:hover {
    /*height: auto;*/
    height: 130px;
    //width: auto;
    max-height: none;
    max-width: none;
  }

  .col-md-9 {
    .oe-height-2 {
      height: 380px;
    }
  }

  #wsd-checkout-box img.product-image {
    border: none !important;
    border-radius: 0px;
    width: auto;
    height: 160px;
  }
  #products_grid_before > ul > li > ul > li > a:before {
      content: "";
      display: inline-block;
      background: url("/ahch_config/static/src/img/icon.png") no-repeat;
      width: 25px;
      height: 25px;
      //float: left;
      margin: 0 2px 0 0;
      vertical-align: sub;
  }
  #products_grid_before > ul > li > a {
    display: none;
  }
  #products_grid_before.col-md-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
