// GLOBAL VARIABLES
$red: #d70f41;

$santeblack: #545454;
$santered: #bf2221;

@import "fontfaces";
@import "website";
@import "website_menu";
@import "website_sale";
@import "website_sale_sante";
@import "website_sante";
@import "website_wsd_checkout_form";
